<form [formGroup]="form" (ngSubmit)="onSubmit()" class="edit-semester--form">
  <p>EDYTUJ SEMESTR</p>    
  <div class="form-container">
      <mat-form-field>
          <mat-label>Nazwa</mat-label>
        <input matInput type="text" formControlName="name" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Start semestru</mat-label>
        <input matInput [matDatepicker]="startPicker" formControlName="startDate">
        <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>
      
      <mat-form-field>
        <mat-label>Koniec semestru</mat-label>
        <input matInput [matDatepicker]="endPicker" formControlName="endDate">
        <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>
      
    </div>
    <div class="edit-semester--btn__div">
      <button mat-raised-button type="submit" class="edit-semester--btn">POTWIERDŹ</button>
    </div>
  </form>