.edit-semester--form {
  width: 30vw;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4fb3eb;
}

.form-container {
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.3rem;
}

.edit-semester--btn__div {
  width: 60%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit-semester--btn {
  width: 50%;
  border-radius: 12px;
}
