<form [formGroup]="form" (ngSubmit)="onSubmit()" class="edit-teacher--form">
  <p>DODAJ NAUCZYCIELA</p>
  <div class="form-container">
    <mat-form-field>
      <mat-label>Tytuł akademicki</mat-label>
      <input matInput type="text" formControlName="academicTitle" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Imię</mat-label>
      <input matInput type="text" formControlName="name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nazwisko</mat-label>
      <input matInput type="text" formControlName="surname" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>E-mail</mat-label>
      <input matInput type="email" formControlName="email" />
    </mat-form-field>
  </div>
  <div class="edit-teacher--btn__div">
    <button mat-raised-button type="submit" class="edit-teacher--btn">
      POTWIERDŹ
    </button>
  </div>
</form>
