<app-table [dataSource]="teachers" [displayedColumns]="displayedColumns" [displayedHeaders]="displayedHeaders"
  (editClicked)="editTeacher($event)" (deleteClicked)="deleteTeacher($event)" (addClicked)="addTeacher()">
</app-table>
<div class="download-wrapper" *ngIf="false">
  <button mat-fab color="accent" (click)="downloadFile()" class="larger-on-hover">
    <mat-icon>download</mat-icon>
  </button>
  <p>Pobierz tabelę jako XLSX</p>
</div>