.download-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  p {
    margin-top: 10px;
    font-size: 20px;
  }
}

.larger-on-hover:hover {
  transform: scale(1.2);
}
