<div class="app-wrapper">
    <div *ngIf="isLoggedIn && hasWorkplace" class="topbar">
        <app-topbar></app-topbar>
    </div>
    <div class="main-content" [ngClass]="{'no-topbar': !isLoggedIn || !hasWorkplace}">
        <div *ngIf="isLoggedIn && hasWorkplace" class="side-bar">
            <div class="sidebar">
                <app-sidebar></app-sidebar>
            </div>
        </div>
        <div class="content" [ngClass]="{'full-content': !isLoggedIn || !hasWorkplace}">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>