<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field>
        <mat-label>Nazwa:</mat-label>
        <input matInput type="text" formControlName="name" />
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button type="submit">POTWIERDŹ</button>
    </div>
  </form>
  