<div class="container">
    <div class="header-container">
        <div class="left-side">
            <div class="members-container">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
        </div>
        <div class="right-side">
            <div class="home-actions-container">
                <button>Settings</button>
                <button>Add task</button>
            </div>
        </div>
    </div>
    <div class="columns-container">
        <div class="column">
            <app-column />
        </div>
        <div class="column">
            <app-column />
        </div>
        <div class="column">
            <app-column />
        </div>
        <div class="column">
            <app-column />
        </div>
    </div>
</div>