.table-container {
  padding: 20px;
  height: 350px;
  overflow-y: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
}

th {
  font-weight: bold;
  padding: 8px;
  text-align: left;
  color: white;
  border-bottom: 1px solid #ddd;
}

td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:first-child th {
  background-color: rgb(66, 66, 66);
}

.icon-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icon-btn:hover {
  transform: scale(1.2);
}

.add-button-wrapper {
  margin-left: 20px;
}

.larger-on-hover:hover {
  transform: scale(1.2);
}

.selected-button{
    cursor: pointer;
    color: white;
    background-color: black;
}

.not-selectedbutton{
    cursor: pointer;
}