<div class="add-button-wrapper" style="margin-top: 20px;">
  <button mat-mini-fab color="primary" class="larger-on-hover" (click)="onAddClick()">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="table-container">
  <table mat-table [dataSource]="dataSource">
    <ng-container *ngFor="let column of displayedColumns; let i = index" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef> {{ displayedHeaders[i] }} </th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngIf="column !== 'date' && column !== 'actions' && column !== 'addedDate' && column !== 'deliveryDate'">
          {{ row[column] }}
        </ng-container>
        <ng-container *ngIf="column === 'date'">
          {{ row[column] | date:'dd-MM-yyyy' }}
        </ng-container>
        <ng-container *ngIf="column === 'addedDate' ">
          {{ row[column] | date:'dd-MM-yyyy' }}
        </ng-container>
        <ng-container *ngIf="column === 'deliveryDate' ">
          {{ row[column] | date:'dd-MM-yyyy' }}
        </ng-container>
        <ng-container *ngIf="column === 'actions'">
          <button class="icon-btn" (click)="onEditClick(row)">
            <mat-icon color="primary">edit</mat-icon>
          </button>
          <button class="icon-btn" (click)="onDeleteClick(row)">
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </ng-container>
        <ng-container *ngIf="column === 'select' ">
            <button *ngIf="isSemesterSelected(row)" (click)="onSelectClick(row)" class="selected-button">WYBIERZ</button>
            <button *ngIf="!isSemesterSelected(row)" (click)="onSelectClick(row)" class="not-selectedbutton">WYBIERZ</button>
        </ng-container>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
