@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");



/* You can add global styles to this file, and also import other style files */
html {
  background-color: #0997E8;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  padding: 0;
}
