.form-field-container {
  margin: 30px;
  width: 200px !important; 

  .toolbar {
    height: auto !important;
    background: transparent;
    justify-content: center;
    align-items: center;
  }
}

.custom-image {
    width: 100px; 
    height: 100px;
}

.input-style {
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 9; 
    opacity: 0; 
    height: 100%; 
    cursor: pointer; 
    position: absolute;
    justify-content: center;
    align-items: center;
}

.camera {
    margin-top: 10px; 
    margin-right: 15px;
}

.text-header {
    margin-top: 20px;
    margin-left: 15px;
    text-align: center;
}

.cards {
    margin-top: 15px;
}
