<mat-card>
    <mat-card-title class="text-header">Zaktualizuj zdjęcie profilowe</mat-card-title>
    <mat-card-content>
      <mat-form-field class="form-field-container">
        <mat-toolbar class="toolbar">
          <span>
            <mat-icon class="camera-icon camera">camera_alt</mat-icon>
          </span>
          <input matInput [(ngModel)]="fileAttr" readonly name="name" />
        </mat-toolbar>
        <input
          type="file"
          #fileInput
          id="uploadFile"
          (change)="uploadFileEvt($event)"
          name="uploadFile"
          multiple="multiple"
          accept="image/*"
          class="input-style"
        />
      </mat-form-field>
    </mat-card-content>
  </mat-card>
  
  
  
<div class="cards">  
    <mat-card>
        <mat-card-title class="text-header">Twoje Semestry</mat-card-title>
        <mat-card-content>
            <app-table [dataSource]="semesters" [displayedColumns]="displayedColumns" [displayedHeaders]="displayedHeaders"
            (editClicked)="editSemester($event)" (deleteClicked)="deleteSemester($event)" (addClicked)="addSemester()" (selectClicked)="updateUserSemester($event)">
            </app-table>
        </mat-card-content>
    </mat-card>
</div>
  