<div class="dialog-container">
    <h2>{{ data.isEdit ? 'Edytuj Harmonogram' : 'Dodaj Harmonogram' }}</h2>
    <form [formGroup]="scheduleForm">
        <mat-form-field appearance="fill" class="form-field">
            <mat-label>Nazwa</mat-label>
            <input matInput formControlName="name" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
            <mat-label>Data</mat-label>
            <input matInput formControlName="date" type="date" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
            <mat-label>Godzina</mat-label>
            <input matInput formControlName="hour" type="time" />
        </mat-form-field>
    </form>

    <div class="dialog-actions">
        <button mat-button (click)="onCancel()">Anuluj</button>
        <button mat-raised-button class="save-button" (click)="onSave()">Zapisz</button>
    </div>
</div>