<div class="workplace-container">
    <button class="exit-button" (click)="exit()">
        <i class="fas fa-sign-out-alt"></i>
    </button>
    <h2 class="header">Co chcesz teraz zrobić?</h2>
    <div class="options-container">
        <div class="option-container">
            <button class="icon-button" (click)="createWorkplace()">
                <i class="fas fa-plus"></i>
            </button>
            <p class="action-info">Stwórz własny zespół</p>
        </div>
        <div class="option-container">
            <button class="icon-button" (click)="joinWorkplace()">
                <i class="fas fa-arrow-right"></i>
            </button>
            <p class="action-info">Dołącz do zespołu</p>
        </div>
    </div>
</div>