h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  border: solid 1px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color:#4FB3EB;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
