<div class="kanban-board">
    <div class="header">
        <div class="header-text">TABLICA</div>
        <button (click)="openAddDialog()">DODAJ ZADANIE</button>
    </div>

    <div class="columns-wrapper" cdkDropListGroup>
        <div *ngFor="let status of statuses" class="column-container"
            [ngStyle]="{'background-color': getColumnColor(status)}" cdkDropList
            [cdkDropListData]="getAssignmentsByStatus(status)" [cdkDropListConnectedTo]="statuses"
            (cdkDropListDropped)="drop($event, status)">
            <div class="header-wrapper">
                <p>{{ getStatusName(status) }}</p>
            </div>
            <div class="assignments-container">
                <div *ngFor="let assignment of getAssignmentsByStatus(status)" (click)="openEditDialog(assignment)"
                    class="assignment" cdkDrag [cdkDragData]="assignment">
                    <button (click)="deleteAssignment(assignment); $event.stopPropagation()" class="delete-button">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <div class="left-section">
                        <p>{{ assignment.name }}</p>
                    </div>
                    <img *ngIf="userImages[assignment.userId]"
                        [src]="'data:image/jpeg;base64,' + userImages[assignment.userId]" alt="User Profile Picture" />
                    <div *ngIf="!userImages[assignment.userId]" class="no-photo"></div>
                </div>
            </div>
        </div>
    </div>
</div>