<div *ngIf="isLoggedIn" class="side-bar">
    <div class="user-data">
        <div class="user-photo"></div>
        <div class="user-name">{{userName}}</div>
    </div>
    <div class="buttons">
        <button [class.active]="isActiveRoute('home')" (click)="navigateTo('')">
            <span>TABLICA</span><i class="fas fa-home fa-lg"></i>
        </button>
        <button [class.active]="isActiveRoute('coworkers')" (click)="navigateTo('coworkers')">
            <span>WSPÓŁPRACOWNICY</span><i class="fas fa-users fa-lg"></i>
        </button>
        <button [class.active]="isActiveRoute('schedule')" (click)="navigateTo('schedule')">
            <span>HARMONOGRAM</span><i class="fas fa-calendar-check fa-lg"></i>
        </button>
        <button [class.active]="isActiveRoute('time')" (click)="navigateTo('time')">
            <span>SPĘDZONY CZAS</span><i class="fas fa-clock fa-lg"></i>
        </button>
        <button [class.active]="isActiveRoute('documentation')" (click)="navigateTo('documentation')">
            <span>DOKUMENTACJE</span><i class="fas fa-file-alt fa-lg"></i>
        </button>
        <button [class.active]="isActiveRoute('visualizations')" (click)="navigateTo('visualizations')">
            <span>WIZUALIZACJE</span><i class="fas fa-chart-line fa-lg"></i>
        </button>
        <button [class.active]="isActiveRoute('management')" (click)="navigateTo('management')">
            <span>ZARZĄDZANIE</span><i class="fas fa-cogs fa-lg"></i>
        </button>
        <button [class.active]="isActiveRoute('users')" (click)="navigateTo('users')">
            <span>UŻYTKOWNICY</span><i class="fas fa-user-cog fa-lg"></i>
        </button>
        <button [class.active]="isActiveRoute('payments')" (click)="navigateTo('payments')">
            <span>WYPŁATY</span><i class="fas fa-wallet fa-lg"></i>
        </button>
    </div>
</div>