<div *ngIf="isLoggedIn" class="side-bar">
  <div class="user-data">
    <div class="user-photo" (click)="openAddProfilePictureDialog()"
      *ngIf="picture && picture!==null; else defaultImage">
      <img [src]="picture" alt="User Photo" class="user-photo" />
    </div>
    <ng-template #defaultImage>
      <div (click)="openAddProfilePictureDialog()" class="user-photo">
        <img src="../../../../../assets/user-photo.jpg" alt="Default User Photo" />
      </div>
    </ng-template>
    <div class="user-name">{{ userName }}</div>
  </div>

  <div class="buttons">
    <button *ngFor="let item of filteredMenuItems" [class.active]="isActiveRoute(item.redirectTo)"
      (click)="navigateTo(item.redirectTo)">
      <span>{{ item.text }}</span>
      <i [class]="item.iconClass"></i>
    </button>
  </div>
</div>