<div class="main-container">
    <form class="form-container" [formGroup]="formGroup">
        <p class="form-header">ZAREJESTRUJ SIĘ W SYSTEMIE</p>
        <p class="login-input-header">EMAIL</p>
        <div class="center-elements-inside">
            <input formControlName="email">
        </div>
        <p class="login-input-header">IMIĘ</p>
        <div class="center-elements-inside">
            <input formControlName="name">
        </div>
        <p class="login-input-header">NAZWISKO</p>
        <div class="center-elements-inside">
            <input formControlName="surname">
        </div>
        <p class="login-input-header">HASŁO</p>
        <div class="center-elements-inside">
            <input type="password" formControlName="password">
        </div>
        <div class="center-elements-inside">
            <button (click)="registerUser()">ZAREJESTRUJ SIĘ</button>
        </div>
        <p class="login-link" (click)="goToLoginPage()">Masz już konto? Zaloguj się</p>
    </form>
</div>