<div class="container">
    <div class="left-side">
        <div class="form-container">
            <div class="header">
                <p>Register</p>
            </div>
            <form class="form-wrapper">
                <div class="form-row">
                    <p>Name</p>
                    <input />
                </div>
                <div class="form-row">
                    <p>Surname</p>
                    <input />
                </div>
                <div class="form-row">
                    <p>E-mail</p>
                    <input />
                </div>
                <div class="form-row">
                    <p type="password">Password</p>
                    <input />
                </div>
                <div class="button-row">
                    <button>Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div class="right-side">

    </div>
</div>