<div [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>Tytuł</mat-label>
        <input matInput type="text" formControlName="title"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Przedmiot</mat-label>
        <input matInput type="text" formControlName="subject_name"/>
    </mat-form-field>
    <button mat-button (click)="save()">Zapisz</button>
    <app-text-editor [form]="form" [nameOfFormControl]="'content'"></app-text-editor>
</div>