<div class="login-page">
  <div class="photo-wrapper">
    <img
      src="../../../../assets/login-bg.png"
      alt="background"
      class="register-photo"
    />
  </div>
  <div class="form-wrapper">
    <form [formGroup]="registerForm" class="register-form" (ngSubmit)="registerUser()">
      <div class="header">
        <p>REJESTRACJA</p>
      </div>
      <div class="register-item">
        <label class="register-item--label">LOGIN</label>
        <input class="register-item--input" formControlName="username" required />
        <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched" class="error-message text-danger">Pole jest wymagane</div>
      </div>
      <div class="register-item">
        <label class="register-item--label">NICKNAME</label>
        <input class="register-item--input" formControlName="nickname" required />
        <div *ngIf="registerForm.get('nickname')?.invalid && registerForm.get('nickname')?.touched" class="error-message text-danger">Pole jest wymagane</div>
      </div>
      <div class="register-item">
        <label class="register-item--label">HASŁO</label>
        <input class="register-item--input" type="password" formControlName="password" required />
        <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="error-message text-danger">Pole jest wymagane</div>
      </div>
      <div class="register-item">
        <label class="register-item--label">POWTÓRZ HASŁO</label>
        <input class="register-item--input" type="password" formControlName="confirmPassword" required />
        <div *ngIf="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched" class="error-message">Pole jest wymagane</div>
        <div *ngIf="registerForm.hasError('passwordMismatch')" class="error-message text-danger">Hasła są różne</div>
      </div>
      <div class="register-item">
        <button class="register-btn">ZAREJESTRUJ MNIE</button>
      </div>
    </form>
  </div>
</div>
