* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: "Gill Sans", sans-serif;
  letter-spacing: 0.2rem;
  margin-top: 1rem;
  font-weight: bold;
}
.login-page {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.photo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 60%;
}
.form-wrapper {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0997e8;
}

.register-form {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.register-item {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 12%;
}

.register-item--label {
  font-size: 22px;
  font-family: "Gill Sans", sans-serif;
  letter-spacing: 0.2rem;
  margin: 0.2rem;
  font-weight: bold;
}

.register-item--input {
  width: 70%;
  height: 50%;
  background-color: grey;
  font-family: "Gill Sans", sans-serif;
  border: none;
  font-size: 15px;
  font-family: "Gill Sans", sans-serif;
  font-weight: bold;
}

.register-btn {
  width: 100%;
  height: 100%;
  font-size: 15px;
  font-family: "Gill Sans", sans-serif;
  letter-spacing: 0.2rem;
  font-weight: bold;
  background-color: #0997e8;
  border: none;
}

.register-btn:hover {
  color: white;
}

.error-message {
  color: red;
}