<form [formGroup]="form" (ngSubmit)="onSubmit()" class="add-lesson--form">
  <p>DODAJ LEKCJĘ</p>
    <div class="form-container">
      <mat-form-field>
        <mat-label>Godzina rozpoczęcia</mat-label>
        <input matInput type="text" formControlName="startHour" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Godzina zakończenia</mat-label>
        <input matInput type="text" formControlName="endHour" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Przedmiot</mat-label>
        <input matInput type="text" formControlName="subject" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Dzień</mat-label>
        <mat-select formControlName="day">
            <mat-option [value]="'monday'">{{ 'Poniedziałek' }}</mat-option>
            <mat-option [value]="'tuesday'">{{ 'Wtorek' }}</mat-option>
            <mat-option [value]="'wednesday'">{{ 'Środa' }}</mat-option>
            <mat-option [value]="'thursday'">{{ 'Czwartek' }}</mat-option>
            <mat-option [value]="'friday'">{{ 'Piątek' }}</mat-option>
          </mat-select>
      </mat-form-field>
    </div>
    <div class="add-lesson--btn__div">
      <button mat-raised-button type="submit" class="add-lesson--btn">POTWIERDŹ</button>
    </div>
  </form>
  