<form [formGroup]="form" (ngSubmit)="onSubmit()" class="edit-homework--form">
  <p>EDYTUJ ZADANIE DOMOWE</p>
  <div class="form-container">
    <mat-form-field>
      <mat-label>Termin oddania</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="deliveryDate">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Przedmiot</mat-label>
      <input matInput type="text" formControlName="subject" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Progress</mat-label>
      <mat-select formControlName="progress">
        <mat-option *ngFor="let option of progressOptions" [value]="option">{{ option | uppercase }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="edit-homwework--btn__div">
    <button mat-raised-button type="submit" class="edit-homwework--btn">POTWIERDŹ</button>
  </div>
</form>