<form [formGroup]="form" (ngSubmit)="onSubmit()" class="add-note--form">
  <p>DODAJ NOTATKĘ</p>
  <div class="form-container">
    <mat-form-field>
      <mat-label>Tytuł</mat-label>
      <input matInput type="text" formControlName="title" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nazwa przedmiotu</mat-label>
      <input matInput type="text" formControlName="subject_name" />
    </mat-form-field>
  </div>
  <div class="add-note--btn__div">
    <button mat-raised-button type="submit" class="add-note--btn">
      POTWIERDŹ
    </button>
  </div>
</form>
