.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.tile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.margin-container {
  padding-top: 30px;
}

.tile {
  width: 500px;
  background-color: #e0e0e0;
  color: #333333;
  border-radius: 8px;
  padding: 20px;
}

.tile-1 {
  background-color: #ffcc80;
}

.tile-2 {
  background-color: #b2dfdb;
}

.tile-3 {
  background-color: #f3f3f3;
  color: #333;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tile-3 .mat-card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.tile-3 ul {
  list-style-type: none;
  padding: 0;
}

.tile-3 li {
  margin-bottom: 5px;
}

.lesson-plan {
  height: 400px;
}

.text {
  font-size: 30px;
}

.grade {
  padding-top: 15px;
  text-align: center;
}
