<div class="dashboard">
  <div class="tile-container">
    <mat-card class="tile-3">
      <mat-card-header>
        <mat-card-title>Oceny z ostatnich 30 dni</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li *ngFor="let grade of gradesLast30Days"><div class="text">{{ grade.subject_name }} - {{ grade.grade_value }}</div></li>
        </ul>
      </mat-card-content>
    </mat-card>

    <mat-card class="tile">
      <mat-card-header>
        <mat-icon mat-card-avatar>schedule</mat-icon>
        <mat-card-title>Plan zajęć</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="text">
          <ul>
            <li *ngFor="let lesson of schedule">{{ lesson.subject }}</li>
          </ul>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="tile-container margin-container">
    <mat-card class="tile-1 grade">
      <mat-card-header>
        <mat-icon mat-card-avatar>date_range</mat-icon>
        <mat-card-title>Ilość dni do zakończenia nauki</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="text">{{ daysToFinish }} dni</div>
      </mat-card-content>
    </mat-card>

    <mat-card class="tile-3">
      <mat-card-header>
        <mat-card-title>
          Średnia ocen
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="text grade">{{ averageGrade }}</div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
