<div class="container">
    <div class="left-side">

    </div>
    <div class="right-side">
        <div class="form-container">
            <div class="header">
                <p>Login to system</p>
            </div>
            <form class="form-wrapper">
                <div class="form-row">
                    <p>E-mail</p>
                    <input />
                </div>
                <div class="form-row">
                    <p>Password</p>
                    <input />
                </div>
                <div class="button-row">
                    <button>Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>