<div class="main-container">
    <div class="form-container">
        <div class="header">
            <p>ZALOGUJ SIĘ DO SYSTEMU</p>
        </div>
        <form class="form-wrapper">
            <div class="form-row">
                <p class="name">EMAIL</p>
                <input />
            </div>
            <div class="form-row">
                <p class="name">HASŁO</p>
                <input type="password" />
            </div>
        </form>
        <div class="buttons">
            <div class="btn-container">
                <button class="submit" (click)="login()">ZALOGUJ</button>
            </div>
            <div>
                <a class="link" href="/register">Nie masz konta? Zarejestruj się</a>
            </div>
        </div>
    </div>
</div>