<div class="container">
    <div class="filters" [formGroup]="formGroup">
        <mat-form-field appearance="outline">
            <mat-label>Od kiedy?</mat-label>
            <input matInput [matDatepicker]="fromPicker" formControlName="fromDate"
                style="color: white; font-size: 14pt;">
            <mat-datepicker-toggle matIconSuffix [for]="fromPicker" style="color: white"></mat-datepicker-toggle>
            <mat-datepicker #fromPicker style="color: white"></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Do kiedy?</mat-label>
            <input matInput [matDatepicker]="toPicker" formControlName="toDate" style="color: white; font-size: 14pt;">
            <mat-datepicker-toggle matIconSuffix [for]="toPicker" style="color: white"></mat-datepicker-toggle>
            <mat-datepicker #toPicker style="color: white"></mat-datepicker>
        </mat-form-field>
        <mat-icon (click)="subscribePayments()">search</mat-icon>
    </div>
    <app-table [dataSource]="dataSource" [displayedColumns]="displayedColumns" [displayedHeaders]="displayedHeaders"
        pageTitle="Wypłaty" />
    <div class="paginator">
        <button [disabled]="true">«</button>
        <button [disabled]="true">‹</button>

        <ng-container>
            <button [class.active]="true">{{ 1 }}</button>
        </ng-container>

        <button [disabled]="true">›</button>
        <button [disabled]="true">»</button>
    </div>
</div>