@use '../../../../../variables.scss';

.container {
    height: 100%;
    width: 100%;
    padding-left: 2%;
    background-color: variables.$primary-grey-color;
    border: solid 2px white;
}

.filters {
    gap: 2px
}

mat-form-field {
    margin-top: 3%;
    margin-left: 2px;
}

mat-label {
    color: white;
    font-size: 15pt;
}

:host ::ng-deep .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
    background-color: #656262;
    border: 2px solid #e4e4e4;
    transform: scale(0.9);
}

mat-icon {
    color: #e4e4e4;
    transform: scale(1.6);
    cursor: pointer;

    &:hover {
        transform: scale(1.8);
    }
}

.table-container {
    height: 68vh;
}

.paginator {
    display: flex;
    gap: 10px;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-top: 20px;

    button {
        font-size: 13pt;
        background-color: #535353;
        color: white;
        cursor: pointer;
        border: none;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.paginator button.active {
    background-color: rgb(78, 206, 245);
    color: black;
}

.items-counter {
    display: flex;
    gap: 10px;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}