<ng-container *ngIf="!authService.isAuthenticated()">
  <div class="register-page" *ngIf="showRegister">
    <app-register-page></app-register-page>
  </div>
  <div class="login-page">
    <app-login-page></app-login-page> 
  </div>
</ng-container>

<ng-container *ngIf="authService.isAuthenticated()">
  <div class="main-content">
    <div class="menu-container">
      <app-menu></app-menu>
    </div>
    <div class="selected-page-wrapper">
      <div class="selected-page">
        <app-header></app-header>
        <div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</ng-container>