.main-content {
  display: flex;
}

.selected-page-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 50px;
}

.selected-page {
  background-color: #F8F5F5;
  width: 100%;
}

.page-header {
  text-align: center;
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
  border-bottom: 1px solid black;
}
