<div class="container">
    <div class="header">
        Dołącz do istniejącego zespołu
    </div>
    <div class="table-container">
        <div class="description-row">
            <div class="column">
                Nazwa
            </div>
            <div class="column">
            </div>
        </div>
        <div *ngFor="let workplace of dataSource" class="row">
            <div class="column">
                {{ workplace.name }}
            </div>
            <div class="column">
                <button (click)="joinWorkplace(workplace.uuid)" class="join-button">
                    <i class="fa fa-user-plus"></i> Dołącz
                </button>
            </div>
        </div>
    </div>
</div>