<mat-tab-group animationDuration="0ms">
    <mat-tab label="Poniedziałek">
      <ng-template matTabContent>
        <app-monday-plan></app-monday-plan>
      </ng-template>
    </mat-tab>
    <mat-tab label="Wtorek">
      <ng-template matTabContent>
        <app-tuesday-plan></app-tuesday-plan>
      </ng-template>
    </mat-tab>
    <mat-tab label="Środa">
        <ng-template matTabContent>
          <app-wednesday-plan></app-wednesday-plan>
        </ng-template>
      </mat-tab>
      <mat-tab label="Czwartek">
        <ng-template matTabContent>
          <app-thursday-plan></app-thursday-plan>
        </ng-template>
      </mat-tab>
      <mat-tab label="Piątek">
        <ng-template matTabContent>
            <app-friday-plan></app-friday-plan>
        </ng-template>
      </mat-tab>
  </mat-tab-group>