.menu-wrapper {
  background-color: #4FB3EB;
  width: 350px;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
}

.user-paragraph {
  margin-top: 15px;
  text-align: center;
  font-size: 25pt;
}

.date-paragraph {
  text-align: center;
  font-size: 15pt;
  text-decoration: underline;
}

.button-wrapper {
  display: flex;
  flex-direction: column;

  .not-selectedbutton {
    width: 270px;
    height: 40px;
    font-size: 20px;
    color: white;
    background-color: #4FB3EB;
    margin-top: 30px;
    cursor: pointer;
    border: 1px solid rgb(29, 28, 28);
    border-radius: 20px;
  }

  .selected-button {
    width: 270px;
    height: 40px;
    font-size: 20px;
    color: white;
    background-color: #0A89D0;
    margin-top: 30px;
    cursor: pointer;
    border: 1px solid rgb(29, 28, 28);
    border-radius: 20px;
  }

  .logout-button {
    margin-top: 100px;
    background-color: #92cef0;
    width: 270px;
    height: 40px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    border: 1px solid rgb(29, 28, 28);
    border-radius: 20px;
  }
}
