<div class="menu-wrapper">
    <div>
      <p class="user-paragraph">{{loggedUser}}</p>
      <p class="date-paragraph">{{currentDate | date:'dd-MM-yyyy'}}</p>
      <div class="button-wrapper">
        <button routerLink="/dashboard" class="{{dashboardClass}}" (click)="setSelectedButton('dashboard')">
          <i class="fa-solid fa-house"></i>
          STRONA GŁÓWNA
        </button>
        <button routerLink="/grades" class="{{gradesClass}}" (click)="setSelectedButton('grades')">
          <i class="fa-solid fa-envelope-open-text"></i>
          OCENY
        </button>
        <button routerLink="/lessons-plan" class="{{lessonsClass}}" (click)="setSelectedButton('lessons-plan')">
          <i class="fa-solid fa-table"></i>
          PLAN ZAJĘĆ
        </button>
        <button routerLink="/notes" class="{{notesClass}}" (click)="setSelectedButton('notes')">
          <i class="fa-solid fa-note-sticky"></i>
          NOTATKI
        </button>
        <button routerLink="/homeworks" class="{{homeworksClass}}" (click)="setSelectedButton('homeworks')">
          <i class="fa-solid fa-list-check"></i>
          ZADANIA DOMOWE
        </button>
        <button routerLink="/teachers" class="{{teachersClass}}" (click)="setSelectedButton('teachers')">
          <i class="fa-solid fa-person-chalkboard"></i>
          NAUCZYCIELE
        </button>
        <button routerLink="/settings" class="{{settingsClass}}" (click)="setSelectedButton('settings')">
          <i class="fa-solid fa-gears"></i>
          USTAWIENIA
        </button>
        <button routerLink="/subjects" class="{{subjectsClass}}" (click)="setSelectedButton('subjects')">
            <i class="fa-solid fa-book"></i>
            PRZEDMIOTY
        </button>
        <button (click)="logout()" class="logout-button">
          <i class="fa-solid fa-right-from-bracket"></i>
          WYLOGUJ
        </button>
      </div>
    </div>
</div>
