:root{
  --background-blue : #309CCE;
}

.login-page {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.photo-wrapper{
  height: 100%;
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-photo{
  width: 70%;
  height: 70%;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--background-blue);
  width: 45%;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  height: 70%;
  background-color: white;
}

.header-section {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-section {
  height: 10%;
  width: 60%;
  display: flex;
  font-family: "Gill Sans", sans-serif;
  align-items: center;
}
.submit-section {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-paragraph-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form--header {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Gill Sans", sans-serif;
  letter-spacing: 0.1rem;
}

.login-section {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password-section {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-form--text {
  font-family: "Gill Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.login-text-field{
  background-color:grey;
  width:60%;
  height: 25%;
  font-size: 1rem;
  margin:5%;
  border : none;
}


.login-btn{
  width: 50%;
  height: 70%;
  color: white;
  background-color: #309CCE;
  border: none;
  font-size: 1rem;
  font-family: "Gill Sans", sans-serif;
  cursor: pointer;
}

.login-btn:hover{
 background-color: #00BEDA;
}
.register-paragraph{
  font-family: "Gill Sans", sans-serif;
  font-size: 0.8rem;
}

.register-span{
  font-family: "Gill Sans", sans-serif;
  text-decoration: underline;
  color:#309CCE;
}

.register-span:hover{
  color:#00BEDA;
}

.pointer{
  cursor: pointer;
}