<mat-tab-group animationDuration="0ms">
    <mat-tab *ngFor="let subject of subjects">
      <ng-template mat-tab-label>
        {{ subject.name }}
      </ng-template>
      <div>
        <app-grades-table [subjectId]="subject.id"></app-grades-table>
      </div>
    </mat-tab>
  </mat-tab-group>
  