<form [formGroup]="form" (ngSubmit)="onSubmit()" class="edit-grade--form">
  <p>EDYTUJ OCENĘ</p>
  <div class="form-container">
    <mat-form-field>
      <mat-label>Ocena</mat-label>
      <input matInput type="number" formControlName="grade_value" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Waga</mat-label>
      <input matInput type="number" formControlName="weight" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Opis</mat-label>
      <input matInput type="text" formControlName="description" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Przedmiot</mat-label>
      <mat-select formControlName="id_subject">
        <mat-option  *ngFor="let subject of subjects" [value]="subject.id" >
          {{ subject.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="edit-grade--btn__div">
    <button mat-raised-button type="submit" class="edit-grade--btn">
      POTWIERDŹ
    </button>
  </div>
</form>
