.header {
    padding: 10px;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    .header-text {
        color: white;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 2px;
    }


    button {
        width: 250px;
        height: 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #2AA6C1;
        cursor: pointer;
        border: none;
        font-size: 16px;
        letter-spacing: 1px;
        color: white;
        border-radius: 6px;
    }
}

.table-container {
    height: 75vh;
    width: 80vw;
    margin-top: 10px;
    background-color: rgba(45, 47, 51, 255);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;

    .link-style {
        color: #007bff;
        text-decoration: underline;
        cursor: pointer;
        font-weight: bold;
    }

    .link-style:hover {
        color: #0056b3;
        text-decoration: underline;
    }
}

.table-smaller {
    height: 65vh;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    text-align: left;
    padding: 16px 24px;
    font-size: 14px;
    color: rgb(241, 237, 237);
}

th {
    font-weight: 500;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgba(28, 30, 31, 255);
}

tr:nth-child(odd) {
    background-color: rgba(38, 42, 45, 255);
}

tr:nth-child(even) {
    background-color: rgba(45, 47, 51, 255);
}

tr:nth-child(odd):hover {
    background-color: rgba(38, 42, 45, 255);
}

tr:nth-child(even):hover {
    background-color: rgba(45, 47, 51, 255);
}

.actions {
    order: 99;
}


mat-icon {
    cursor: pointer;

    &:hover {
        transform: scale(1.2);
    }
}

.row:hover {
    background-color: white !important;
    color: black;
}

.row:hover td {
    color: black !important;
    cursor: pointer;
}